.aboutUs-section{
    display: flex;
    margin-top: 52px;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

.description-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.description-title{
    margin: 0;
    color: #003056;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.description-desc{
    color: #003056;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    width: 500px;
}

.description-button{
    padding: 20px 25px;
    color: #003056;
    background-color: #A3C653;
    cursor: pointer;
    border: none;
    width: 300px;
    border-radius: 20px;
    transition: .2s all;
    font-size: 20px;
    font-weight: 500;
}

.description-button:hover , .description-button:active, .description-button:focus {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
}

.pros-article{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pros-title{
    margin: 0;
    color: #003056;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.pros-list{
    display: flex;
    flex-direction: column;
}

.pros-list_item{
    display: flex;
    align-items: center;

}

.pros-list_spec{
    margin-left: 8px;
    color: #003056;
    font-size: 20px;
    font-weight: 400;
}


