.contactUs {
    margin-top: 60px;
}

#input-form {
    font-size: 26px;
    color: white;
    font-weight: 400;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    margin-bottom: 50px;
}

#input-form::placeholder {
    color: white;
}

#input-form:focus {
    outline: none;
}

#textarea-form {
    font-size: 26px;
    color: white;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    margin-top: 20px;
    height: 250px;
}

#textarea-form::placeholder {
    color: white;
}

#textarea-form:focus {
    outline: none;
}


.article-contact {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    background-color: #7CA78F;
    gap: 200px;
}

.contactUs-title {
    font-size: 32px;
    font-weight: 600;
    color: #003056;
    text-align: center;
}

.section-form {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 450px;
}

.form-policy {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

#input-checkbox {
    accent-color: #b0f509;
    width: 20px;
    height: 20px;
}

.policy-title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: white;

}

.policy-term {
    color: #003056;
}

.section-button-send {
    width: 160px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #003056;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: .2s all;
}

.section-button-send:hover, .section-button-send:focus, .section-button-send:active {
    background-color: #26456e;
}

/* /////////////////////////////////////   SECTION INFO    /////////////////////////////////////////// */


.section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-time {
    font-weight: 300;
    color: white;
    margin-bottom: 50px;
}

.info-btn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-btn-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

#info-button {
    background-color: #003056;
    width: 250px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 30px;
    transition: .2s all;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}

#info-button:hover , #info-button:focus, #info-button:active{
    background-color: #26456e;
}





